:root {
  /* ******* CONTAINER SETTING VARIABLES ******** */
  --container-padding: 20px;
  --container-padding-lr: 2rem 10%;
  --container-background-color: #f7f7f7;

  /* ******* CONTENT SETTING VARIABLES ******** */
  --content-padding: 3rem;
  --content-text-color: #222222;
  --box-shadow-main: 0 0.5rem 3rem #00000066;

  /* ******* WEB COMPONENTS VARIABLES ******** */
  --item-margin-bottom: 20px;
  --item-margin-top-20: 20px;
  --item-margin-top-30: 30px;
  --item-margin-right: 15px;
  --item-margin-bottom-20: 20px;
  --item-margin-bootom-2r: 2rem;
  --item-margin-bottom-15: 10px;
  --item-margin-bottom-7: 7px;

  --item-padding: 20px;

  --widget-width: 20rem;
  --widget-width-26: 26rem;

  --item-border-radius: 10px;

  /* ******* FONTS VARIABLES ******** */
  --font-family-main: Arial, Helvetica, sans-serif;
  --font-size-main: 1rem;
  --line-hight-main: 2rem;
  --letter-space-main: 1px;

  /* ******* LABELS and INPUT FORM VARIABLES ******** */
  --label-width-6: 6rem;
  --label-width-10: 10rem;
  --checkbox-lebel-width: 20rem;
  --input-form-height: 25px;
  --input-border-radius: 5px;
  --input-border-style: none;
  --input-padding: 6px;
  --input-width: 15rem;
  --input-width-100: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color-main);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  line-height: var(--line-hight-main);
  letter-spacing: var(--letter-space-main);
}

/* ******* CONTAINER SECTIONS ******** */
.container {
  margin: auto;
  height: 100vh;
  padding: var(--container-padding);
  padding: var(--container-padding-lr);
  /* background-color: var(--background-color-main); */
  display: flex;
  flex-direction: column;
}

/* ******* CONTENT BOX ******** */
.content {
  width: 100%;
  padding: var(--content-padding);
  box-shadow: var(--box-shadow-main);
  border-radius: var(--item-border-radius);
}

/* ******* PROFILE HEADER ******** */
.header-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b7285;
  color: #ffffff;
  padding: var(--item-padding);
  border-radius: var(--item-border-radius);
  margin-bottom: var(--item-margin-bottom);
}

/* ******* PROFILE NAME, EMAIL, PHONE ******** */
.form-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  width: 100%;
  background-color: #0b7285;
  color: #ffffff;
  padding: var(--content-padding);
  border-radius: var(--item-border-radius);
}

.form-row .input-name,
.form-row .input-email,
.form-row .input-phone {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  margin-bottom: var(--item-margin-bottom-20);
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border-style: var(--input-border-style);
  width: var(--input-width);
}

.form-row .email-input[type="email"]:invalid {
  margin-bottom: var(--item-margin-bottom-15);
  border: 1px solid #ff4500;
  color: #ff4500;
  box-shadow: none;
}

/* ******* CONTACT OPTION CHECKBOX ******** */
.form-row .input-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 18px;
  width: 18px;
  margin-right: var(--item-margin-right);
  margin-bottom: var(--item-margin-bottom-20);
}

/* ******* JOB TITLE DROP DOWN ******** */
.job-title {
  width: 23rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form-row .input-dropdown {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  width: var(--input-width);
  padding: var(--input-padding);
  margin-right: var(--item-margin-right);
  margin-bottom: var(--item-margin-bottom-20);
  border-radius: var(--input-border-radius);
}

/* ******* YOUR BIO SECTION ******** */
.bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: var(--input-width-100);
  margin-bottom: var(--item-margin-bottom-20);
}

.bio .input-textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  height: 8rem;
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
}

/* ******* RADIO PROFILE PRIVATE OPTION ******** */
.form-fieldset {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  width: 25rem;
  border: none;
  margin-bottom: var(--item-margin-bottom-15);
}

.form-row .input-radio {
  width: 20px;
  height: 20px;
  margin-top: -16px;
  margin-right: var(--item-margin-right);
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form-row .input-label {
  width: var(--label-width-6);
  height: 50px;
  margin-right: var(--item-margin-right);
}

/* ******* UPDATE BUTTON ******** */
.form-row .btn {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #2f9e44;
  color: #ffffff;
  height: 8rem;
  padding: 10px 30px;
  /* text-transform: uppercase; */
  border: none;
  height: 40px;
  align-items: center;
  border-radius: var(--input-border-radius);
}

.btn:hover {
  background-color: #37b24d;
  cursor: pointer;
}

.btn:active {
  transform: translateY(3px);
}
