:root {
  /* Container Section */
  --container-padding: 20px;
  --container-padding-lr: 20px 10%;
  --container-background-color: #f7f7f7;

  /* Content Section */
  --content-padding: 30px;
  --content-text-color: #222222;
  --box-shadow-main: 0 0.5rem 3rem #00000066;

  /* Idividual Components Section */
  --item-margin-bottom: 20px;
  --item-margin-top-20: 20px;
  --item-margin-top-30: 30px;
  --item-margin-right: 15px;
  --item-margin-bottom-20: 20px;
  --item-margin-bottom-15: 10px;
  --item-margin-bottom-7: 7px;

  --item-padding: 20px;

  --widget-width: 20rem;

  --item-border-radius: 10px;

  /* Fonts Setting */
  --font-family-main: Arial, Helvetica, sans-serif;
  --font-size-main: 1rem;
  --line-hight-main: 2rem;
  --letter-space-main: 1px;

  /* Site wide input setting */
  --label-width-6: 6rem;
  --label-width-10: 10rem;
  --checkbox-lebel-width: 20rem;
  --input-form-height: 25px;
  --input-border-radius: 5px;
  --input-border-style: none;
  --input-padding: 6px;
  --input-width: 15rem;
  --input-width-100: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color-main);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  line-height: var(--line-hight-main);
  letter-spacing: var(--letter-space-main);
}

/* Main Page Container */
.container {
  margin: auto;
  height: 100vh;
  padding: var(--container-padding);
  padding: var(--container-padding-lr);
  /* background-color: var(--background-color-main); */
  display: flex;
  flex-direction: column;
}

/* Form section */
.content {
  width: 100%;
  padding: var(--content-padding);
  box-shadow: var(--box-shadow-main);
  border-radius: var(--item-border-radius);
}

.header-profile {
  display: flex;
  flex-direction: column;
  background-color: #0b7285;
  color: #ffffff;
  padding: var(--item-padding);
  text-align: center;
  border-radius: var(--item-border-radius);
  margin-bottom: var(--item-margin-bottom);
}

/* Form Profile Section */
.form-profile {
  width: 100%;
  background-color: #0b7285;
  color: #ffffff;
  padding: 20px;
  border-radius: var(--item-border-radius);
}

.form-row .input-name,
.form-row .input-email,
.form-row .input-phone {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  margin-bottom: var(--item-margin-bottom-20);
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border-style: var(--input-border-style);
  width: var(--input-width);
}

.form-row .email-input[type="email"]:invalid {
  margin-bottom: var(--item-margin-bottom-15);
  border: 1px solid #ff4500;
  color: #ff4500;
  box-shadow: none;
}

/* Checkbox section - Contact Option */
.form-row .input-checkbox {
  display: flext;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 18px;
  width: 18px;
  margin-right: var(--item-margin-right);
  margin-bottom: var(--item-margin-bottom-20);
}

/* Select Dropdown Section - Job Title */
.form-row .input-dropdown {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  width: var(--input-width);
  padding: var(--input-padding);
  margin-right: var(--item-margin-right);
  margin-bottom: var(--item-margin-bottom-20);
  border-radius: var(--input-border-radius);
}

/* Radio Button Section */
.form-fieldset {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: none;
}

.form-row .input-radio {
  width: 20px;
  height: 20px;
  margin-top: -16px;
  margin-right: var(--item-margin-right);
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form-row .input-label {
  width: var(--label-width-6);
  height: 50px;
}

/* Bio Section */
.bio {
  display: flex;
  flex-direction: column;
  width: var(--input-width-100);
  margin-bottom: var(--item-margin-bottom-20);
}

.bio .input-textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  height: 8rem;
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
}
